@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Inter", sans-serif;
    transition: 0.3s linear;
}

.footer__icons li a {
    color: #636363;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1;
    backdrop-filter: blur(12px);
}

html {
    scroll-behavior: smooth;

}

button,
a {
    cursor: pointer;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.header__wrapper {
    padding: 20px 0px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.header__list {
    display: flex;
    gap: 40px;
}

.header__icons {
    display: flex;
    gap: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    align-items: center;
}

.search {
    background-color: #ebebeb;
    color: #989898;
    display: flex;
    width: 372px;
    height: 56px;
    gap: 8px;
    align-items: center;
    opacity: 1;
    border-radius: 8px;
    padding: 16px;
    cursor: default;
}

.header__search {
    border: none;
    background-color: #ebebeb;
    color: #656565;
    width: 100%;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;

    line-height: 18px;
    letter-spacing: 0%;
}

.header__link {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    color: #0000006d;
    line-height: 100%;
    letter-spacing: 0%;
    transition: 0.3s linear;
}

.header__link:hover {
    color: black;
}

.header__icon {
    font-size: 24px;
    cursor: pointer;
    color: #000000bd;
}

footer {
    background-color: black;
}

.footer__wrapper {
    display: flex;
    color: #cfcfcf;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;
}

.footer__icons {
    display: flex;
    font-size: 16px;
    /* justify-content: center; */
    align-items: center;
    gap: 30px;
}

.footer__text {
    margin: 8px 0;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;

    line-height: 32px;
    letter-spacing: 0%;
}

.footer__txt {
    margin-top: 24px;
    margin-bottom: 80px;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;

    line-height: 171%;
    letter-spacing: 0%;
}

.footer__title {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
}

.wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#details {
    text-align: start;
    width: 50%;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
hr{
    width:200px;  
}
.avail{
    margin-bottom: 10px;
}
.add {
    border: none;
    background-color: #000;
    color: #fff;
    padding: 10px 30px;
    border-radius: 8px;
}

.price-box {
    display: flex;
    margin: 10px 0;
}

.right {
    padding-top: 20px;
}

.title-a {
    margin-bottom: 5px;
}

.title-b {
    margin-bottom: 5px;
    margin-top: 10px;

}
.details-list{
    text-align: start;
}
.top-wrapper {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-bottom: 20px;
}

.img {
    width: 300px;
}